@page
@model Proiect_web_Frizerie.Pages.Stylists.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stylist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stylist.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stylist.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stylist.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stylist.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stylist.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stylist.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stylist.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stylist.Telefon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stylist.Specialty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stylist.Specialty.Nume)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Stylist.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
