@page
@model Proiect_web_Frizerie.Pages.Appointments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Client.NumeComplet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Stylist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Stylist.NumeComplet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Service)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Service.Denumire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.DataOra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.DataOra)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Appointment.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
